@import "./components/Header";
@import "./components/Balance";
@import "./components/Dropdown";
@import "./components/Modal";
@import "./components/TransactionForm";
@import "./components/TransactionList";
@import "./components/Logo.scss";
@import "./pages/Login";
@import "./pages/Register";
@import "./pages/HomePage";
@import "./pages/Reports";
@import "./components/Summary.scss";
@import "./components/SummaryHeader.scss";
@import "./components/IncomeExpenseSwitch.scss";

/* Global Styles */
body {
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  @media screen and (max-width: 768px) {
    background-color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
