.home-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 56px;

  .kapusta-bg {
    width: 100%;
  }

  .summary-list-container {
    display: flex;
  }

  .bg-home {
    height: 60%;
    width: 100%;
    background-color: #f2f5fc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0rem 0rem 0rem 8rem;
  }

  .container-transaction {
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
    max-width: 1098px;
  }

  .content {
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .summary-list-container {
      flex-direction: column;
    }
  }
}
