.home-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .kapusta-bg {
    width: 100%;
  }

  .bg-home {
    height: 60%;
    width: 100%;
    background-color: #f2f5fc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0rem 0rem 0rem 8rem;
  }

  .container-transaction {
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
    max-width: 1098px;
  }

  .content {
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reports-button-container {
    position: absolute;
    top: 90px;
    right: 20px;

    .reports-button {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-size: 16px;
      color: #333;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;

      span {
        margin-right: 5px;
        color: #52555fb2;
        font-size: 0.9rem;
      }

      .report-icon {
        width: 20px;
        height: 20px;
      }

      h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: #333;
      }

      @media (max-width: 768px) {
        padding: 1rem;

        h1 {
          font-size: 2rem;
        }

        .content {
          padding: 0;
          gap: 1.5rem;
        }
      }
    }
  }
}
