.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding-top: 56px;

  @media (max-width: 1280px) {
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
    padding-top: 120px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 100px;
    height: auto;
    justify-content: flex-start;
    // width: 100vw;
  }

  .bg-login {
    height: 80%;
    width: 100%;
    background-color: #f5f6fb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0rem 0rem 0rem 8rem;
    padding-top: 56px;
  }

  .bg-login img {
    position: absolute;
    top: 5rem;
    width: 100%;
  }

  .first-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    text-align: center;

    img {
      position: absolute;
      bottom: 1px;
      left: 15%;
      @media (max-width: 1280px) {
        bottom: -100px;
      }
    }

    @media (max-width: 1280px) {
      width: auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 1rem;
      h1 {
        font-size: 46.34px;
      }
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    h1 {
      font-weight: 800;
      font-size: 120px;

      @media (max-width: 1280px) {
        font-size: 77.69px;
      }

      @media (max-width: 768px) {
        font-size: 46.34px;
      }
    }

    p {
      margin-left: 5rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #52555f;
      letter-spacing: 2px;

      @media (max-width: 1280px) {
        margin: 0;
      }

      @media (max-width: 768px) {
        margin: 0;
        text-align: center;
      }
    }
  }

  .form-content {
    z-index: 2;
  }
  .login-box {
    width: 426px;
    height: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 2rem;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      padding: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      @media (max-width: 768px) {
        width: 100%;
      }

      p {
        color: #52555f;
        font-size: 0.8rem;
        text-align: center;
        max-width: 258.92px;
        letter-spacing: 1px;
      }

      div {
        display: flex;
        flex-direction: column;

        div {
          margin-bottom: 2rem;
        }
      }

      label {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0.4rem;
      }

      input {
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        font-size: 1rem;
        background-color: #f6f7fb;
        letter-spacing: 1px;

        &::placeholder {
          color: #a6abb9;
        }

        @media (max-width: 768px) {
          padding: 0.8rem;
        }
      }

      .google-login {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        background-color: #f6f7fb;
        border: none;
        border-radius: 2rem;
        margin: 1rem 0rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;
        transition: 250ms ease-in-out;

        &:hover {
          background-color: #ccc;
        }

        img {
          width: 20px;
          margin-right: 0.5rem;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .login-button {
        background-color: #ff751d;
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 600;
        transition: 250ms ease-in-out;

        &:hover {
          background-color: #e66400;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 2rem;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
      }
    }

    .register-link {
      display: block;
      text-align: center;
      color: #333;
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 1rem 2rem;
      border-radius: 2rem;
      background-color: hsl(0, 0%, 94%);
      box-shadow: 0px 10px 60px 0px #23283300;
      transition: 250ms ease-in-out;

      &:hover {
        background-color: #e0e0e0;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
