.reports-page {
  position: relative;
  background-color: #f9f9f9;
  align-items: center;
  // z-index: -2;
  margin-top: 0;

  .reports-bg {
    position: absolute;
    height: 342px;
    width: 100%;
    margin: auto;
    background-color: #f5f6fb;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0rem 0rem 0rem 8rem;

    @media screen and (min-width: 768px) {
      height: 583px;
    }
  }

  .reports-header {
    flex-direction: column;

    @media screen and (min-width: 768px) {
      max-width: 704px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 97px;
      :nth-child(1) {
        order: 1;
      }
      :nth-child(2) {
        order: 3;
      }
      :nth-child(3) {
        order: 2;
      }
    }
    @media screen and (min-width: 1200px) {
      max-width: 1034px;
    }

    .back-button {
      display: flex;
      width: fit-content;
      padding-top: 72px;
      padding-left: 20px;
      align-items: center;
      color: #52555fb2;
      background-color: transparent;
      border: none;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        margin-top: 0;
        padding: 0;
      }
    }
    .raport-back-text {
      margin-left: 15px;
      display: none;

      @media screen and (min-width: 768px) {
        display: inline;
      }
    }
    .current-period-container {
      margin: auto;
      margin-bottom: 5px;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #52555fb2;
      font-size: 12px;

      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }

    .current-period {
      display: flex;
      align-items: center;
      font-size: 14px;

      @media screen and (min-width: 768px) {
        :nth-child(1) {
          order: 1;
        }
        :nth-child(2) {
          order: 2;
        }
        :nth-child(3) {
          order: 3;
        }
      }

      button {
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .period-display {
        font-size: 14px;
        text-align: center;
        color: black;
        font-weight: 700;
      }
    }
  }

  .report-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 32px;
    width: 100%;
    max-width: 280px;
    height: 85px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    @media screen and (min-width: 768px) {
      max-width: 704px;
      height: 50px;
      border-radius: 2rem;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1034px;
      height: 300px;
    }
  }

  .balance-display {
    margin-top: 32px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}
