.balance-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 4rem 0;
  width: 100%;
  // margin: 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
  .reports-button-container {
    // position: absolute;
    // top: 90px;
    // right: 20px;
    .reports-button {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-size: 16px;
      color: #333;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;
      span {
        margin-right: 5px;
        color: #52555fb2;
        font-size: 0.9rem;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
      @media (max-width: 768px) {
        padding: 1rem;
      }
    }
  }
  .balance-inputs {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .balance-title {
    font-size: 12px;
    font-weight: bold;
    color: #52555fb2;
  }

  .balance-currency {
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    right: 155px;
    @media screen and (max-width: 768px) {
      right: 175px;
    }
  }

  .balance-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    position: relative;
    width: 100%;

    .balance-input-span {
      display: flex;
      align-items: center;
    }
    .balance-input {
      width: 100%;
      padding: 0.75rem 2.5rem 0.75rem 0.75rem;
      border-radius: 2rem;
      border: 2px solid #ffffff;
      outline: none;
      border-radius: 2rem;
      background-color: transparent;
      font-size: 1rem;
      @media screen and (max-width: 768px) {
        width: 142px;
      }
    }

    .balance-confirm-btn {
      padding: 0.75rem 1.5rem;
      color: #52555fb2;
      border: none;
      border-radius: 2rem;
      border: 2px solid #ffffff;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #fff;
      }
      @media screen and (max-width: 768px) {
        width: 142px;
      }
    }
  }

  // Styl dla mniejszych ekranów (mobile-first)
  @media (max-width: 768px) {
    .balance-title {
      font-size: 12px;
    }
  }
}
