.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;

  .dropdown-select {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #f5f6fb;
    color: #c7ccdc;
    font-size: 12px;
    cursor: pointer;
    max-height: 42px;
  }

  .dropdown-select:focus {
    outline: none;
  }

  @media (max-width: 1024px) {
    .dropdown-select {
      padding: 0.5rem;
    }
  }
  @media (max-width: 768px) {
  }
}
