.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  height: 56px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  

  .header-nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      list-style: none;
      font-size: 0.8rem;

      li {
        position: relative;

        &::after {
          content: "";
          display: none;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: -1rem;
          width: 1px;
          height: 36px;
          background-color: #ccc;

          @media screen and (min-width: 768px) {
            display: inline;
          }
        }
        &:first-child::after {
          display: none;
        }
      }
    }

    .username-img-header {
      text-align: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      background-color: #F5F6FA;
      color: #52555F;
      font-weight: 700;
      outline: none;
      
    }
    .username-header {
      color: #52555F;

    }
    .header-logout-svg {
      @media screen and (min-width: 768px) {
        display: none;
      }

    }
    .header-logout-text {
      display: none;
      color: #52555F;
      ;

      @media screen and (min-width: 768px) {
        display: inline;
      }

    }

    .header-logout-btn {
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      font-size: 0.8rem;
      cursor: pointer;
      text-decoration: underline;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  // Responsiveness for tablets and mobile-first design
  @media (max-width: 1024px) {
    .header-logout-btn {
      padding: 0.4rem 0.8rem;
    }
  }

  @media (max-width: 768px) {
  }
}
