.transaction-form {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #ffffff;
  position: relative;
  .type-switch {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: -3rem;
    left: 0rem;

    input {
      display: none;
    }

    label {
      font-weight: bold;
      color: #000000;
      background-color: #fafbfd;
      padding: 1rem 3rem;
      border-radius: 2rem 2rem 0rem 0rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-transform: uppercase;
      font-size: 0.9rem;

      &.active {
        background-color: #fefefe;
        color: #ff751d;
      }

      &:hover {
        background-color: #fefefe;
      }
    }
  }

  .form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
  }

  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
  }

  .form-button {
    padding: 0.75rem 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }

  .form-button-clear {
    background-color: #f44336;
    &:hover {
      background-color: #e53935;
    }
  }

  @media (max-width: 768px) {
    .form-input {
      padding: 0.5rem;
    }

    .form-button {
      padding: 0.5rem 1rem;
    }
  }
}
