.transaction-list {
  padding: 2rem;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  font-weight: 700;
  font-size: 12px;

  .transaction-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    .tr-header {
      border-radius: 2rem;
      font-size: 12px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    thead {
      border-radius: 2rem;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 12px;
    }
    .tr-border {
      border-bottom: 2px solid #52555f;
      font-weight: 400;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 1rem;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 1rem;
      color: #f5f6fb;
      cursor: default;
    }

    th {
      background-color: #f5f6fb;
      font-weight: bold;
      padding: 0.75rem;
    }

    td {
      color: #52555f;
      padding: 0.75rem;
    }

    .sum-content {
      font-weight: 700;
      font-size: 12px;
    }
    .sum-income {
      color: rgba(64, 121, 70, 1);
      font-weight: bold;
    }

    .sum-expense {
      color: rgba(231, 25, 46, 1);
      font-weight: bold;
    }

    .delete-btn {
      padding: 0.5rem 1rem;
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f5f6fb;
      }
    }
  }

  @media (max-width: 768px) {
    .transaction-table {
      font-size: 0.9rem;

      th,
      td {
        padding: 0.5rem;
      }

      .delete-btn {
        padding: 0.3rem 0.8rem;
      }
    }
  }
}
