.transaction-list {
  padding: 0;
  max-width: 800px;
  max-height: auto;
  overflow: hidden;
  margin: 0 auto;
  font-weight: 700;
  font-size: 12px;

  .scroll-container {
    box-sizing: border-box;
    max-height: 600px;
    overflow-y: auto;
    padding: 0rem -2rem 2rem 2rem;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 117, 29, 1);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f5f6fb;
    }
  }

  .transaction-table {
    width: calc(100% - 80px);
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;

    .tr-header {
      border-radius: 2rem;
      font-size: 12px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    thead {
      border-radius: 2rem;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 12px;
    }

    .tr-border {
      border-bottom: 2px solid #52555f;
      font-weight: 400;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 1rem;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 1rem;
      color: #f5f6fb;
      cursor: default;
    }
    thead th {
      position: sticky;
      top: 0;
      background-color: #f5f6fb;
      z-index: 1;
      padding: 0.75rem; /* Możemy zastosować padding tutaj */
    }

    tbody td {
      padding: 0.75rem;
    }

    th {
      background-color: #f5f6fb;
      font-weight: bold;
      padding: 0.75rem;
    }

    td {
      color: #52555f;
      padding: 0.75rem;
      border-bottom: 2px solid #f5f6fb;
    }

    .sum-content {
      font-weight: 700;
      font-size: 12px;
    }
    .sum-income {
      color: rgba(64, 121, 70, 1);
      font-weight: bold;
    }
    .sum-expense {
      color: rgba(231, 25, 46, 1);
      font-weight: bold;
    }

    .delete-btn {
      padding: 0.5rem 1rem;
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f5f6fb;
      }
    }
  }

  @media (max-width: 768px) {
    .transaction-table {
      font-size: 0.9rem;

      th,
      td {
        padding: 0.5rem;
      }

      .delete-btn {
        padding: 0.3rem 0.8rem;
      }
    }
  }
}
